*, *::before, *::after {
  box-sizing: border-box;
}
.body {
  background-color: white;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.nav_brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sections {
  display: grid;
  grid-template-columns: repeat(auto);
}
.nav_menu_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav_menu_bar,
.nav_menu_bar::before,
.nav_menu_bar::after {
  width: 100%;
  border-bottom: 3px solid white;
}
.nav_menu_bar {
  margin: 3px 0;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}