.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 6px;
  overflow: hidden;
  background-color: #112;
  color: white;
}

@media screen and (min-width: 480px){
  .App {
    font-size: 10px;
  } 
}
@media screen and (min-width: 720px){
  .App {
    font-size: 14px;
  } 
}
@media screen and (min-width: 900px){
  .App {
    font-size: 18px;
  } 
}
@media screen and (min-width: 1200px){
  .App {
    font-size: 22px;
  } 
}
